* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.fa-trash-can {
  display: none;
}

#main-section {
  box-shadow: 1px 5px 18px -1px rgb(34 60 80 / 19%);
  width: 40%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 2%;
  
}

.new-item {
  display: flex;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 5% 1%;
}

.clear-all {
  width: 100%;
  border: none;
  color: gray;
  background-color: transparent;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 15px;
}

span {
  flex: 1;
}

button {
  border: none;
  background-color: transparent;
}

.new-input {
  background-color: #fffed3;
}

.checkbox{
  width: 15%;
} 

.fa-arrows-rotate, .fa-ellipsis-vertical, .fa-trash-can {
  cursor: pointer;
}


.active-trash {
display: block;
}

.inactive-ellipsis {
  display:none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  
}

#main-input {
  display: flex;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 2%;
  font-size: 15px;
  font-style: italic;
  padding-bottom: 5%;
}

.checkbox-desc {
  display: flex;
  gap: 0.5rem;
}

.item {
  display: flex;
  border: 1px solid gray;
  border-top: 0;
  justify-content: space-between;
  padding: 0.5rem;
}

.three-dots {
  display:flex;
  align-self:flex-end;
  cursor: pointer;
}

.trash-can {
  display: none;
  align-self: flex-end;
}

.strike {
  text-decoration: line-through;
  color: gray;
}

.clicked-on {
  background-color: #fffed3;
}

.refresh {
  cursor: pointer;
}