* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.list {
  padding: 1rem;
  align-items: center;
}
.fa-arrows-rotate, .fa-ellipsis-vertical, .fa-trash-can {
  cursor: pointer;
}
.fa-trash-can {
  display: none;
}

.active-trash {
display: block;
}

.inactive-ellipsis {
  display:none;
}

.main-header {
  display: flex;
  border: 1px solid gray;
  justify-content: space-between;
  padding: 0.5rem;
}

.main-input {
  display: flex;
  border: 1px solid gray;
  border-top: 0;
  justify-content: space-between;
  padding: 0.5rem;
}

.checkbox-desc {
  display: flex;
  gap: 0.5rem;
}

.item {
  display: flex;
  border: 1px solid gray;
  border-top: 0;
  justify-content: space-between;
  padding: 0.5rem;
}

.clear-all {
  display: flex;
  border: 1px solid gray;
  border-top: 0;
  justify-content: center;
  padding: 0.5rem;
  color: gray;
  cursor: pointer;
}

.three-dots {
  display:flex;
  align-self:flex-end;
  cursor: pointer;
}

.trash-can {
  display: none;
  align-self: flex-end;
}

.strike {
  text-decoration: line-through;
  color: gray;
  background-color: #fffed3;
}

.refresh {
  cursor: pointer;
}